.download_button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
.download_button:hover {background-color: #3e8e41}
  
.download_button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.download_btn_div
{
    height: 30px;
    padding: 10px;
}

.channel-select-div {
    height: 150px;
    padding: 20px;
}

.div3
{
    width: 960px;
    background: #4e4eeb;
    border-radius: 30px;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 50px 50px 50px;
    border: 3px solid #2323df;
    box-shadow: 0px 0px 30px blue;
    
}

