.download_button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
.download_button:hover {background-color: #3e8e41}
  
.download_button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.download_btn_div
{
    height: 30px;
    padding: 10px;
}

.channel-select-div {
    height: 150px;
    padding: 20px;
}

