
{% extends "/layout.html" %}

{% block title %}
    {{ server["name"] }}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/avatarimg.css">
<link rel="stylesheet" href="/static/css/dashboard.css">
<script type="text/javascript" src="/static/js/dashboard.js"></script>
{% endblock %}

{% block main %}



{% if get_flashed_messages() %}
<header>
    <div class="alert alert-primary border text-center" style="width: 960px;" role="alert">
        {{ get_flashed_messages() | join(" ") }}
    </div>
</header>
{% endif %}
<div class="div2">
<div class="form">
    <div>
        <p>Select channel and press download to download last 10,000 messages</p>
    </div>

    <form name="file" method="post" onsubmit="return valid_index_form()">

<div class="channel-select-div">

    <select class="server-select" id="selected_channel" name="channel">

        
        <option value="" disabled selected>Select channel</option>

        {% for i in channels %}
    
        <option value={{ channels[i]["id"] }}>{{ channels[i]["name"]}}</option>
    
        {% endfor %}
    </select>
    <p class="select_error" id="select_error"></p>
</div>

    <button class="download_button" type="submit">Download</button>

    </form>

</div>
</div>
<div style="height: 50px;">
1
</div>
<div class="div3">
    <div style="position: relative; align-content: center;"><h3>{{ server["name"] }}</h3></div>
    {% if server["icon"] != None %}
    <img style="float: left; width: 50px; height: 50px;" src="https://cdn.discordapp.com/icons/{{ server["id"] }}/{{ server["icon"] }}.png?size=96">
    {% else %}
    <img style="float: left;" src="/static/img/no_guild_img.png">
    {% endif %}


</div>



{% endblock %}
