
{% extends "/layout.html" %}

{% block title %}
    Not Found
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/avatarimg.css">
<link rel="stylesheet" href="/static/css/error.css">

{% endblock %}

{% block main %}
<div style="width: 100%;">
<h1  style="color: rgb(255, 0, 0);">{{ message }}<br><a href="/">Index/Login</a></h1>
</div>

<img src="/static/img/internal_error_500.png" style="width: auto; height: 80%;" class="error-image">




{% endblock %}
