
{% extends "/layout.html" %}

{% block title %}
    Help
{% endblock %}

{% block styles %}

{% endblock %}
{% block main %}
<h1 style="color: rgb(97, 123, 211);">Chat-Log: Help</h1>

<h3 style="text-align: left; color: aquamarine;">bot logging system</h3>
<p style="text-align: left; color: white;">Chat-Log bot trigger any deleted or edited messages in all channel it has access to read it's messages.</p>
<p style="text-align: left; color: white;">The bot sends deleted or edited messages in <code>chat-log</code> channel. if you don't have that channel use <code>.setup</code></p>
<p style="text-align: left; color: white;">Remove read_messages permission from Chat-Log bot in any channel you don't want to log or trigger it's deleted or edited messages</p>
<p style="text-align: left; color: white;">Chat-Log will start logging all messages in channels it has access to it soon you will be able to download logged messages in this website</p>
<p style="text-align: left; color: white;">If you need help or want to give us any feedback please join our support server <a href="https://discord.com/invite/ArfZWMhcqD" target="_blank">Formova team</a></p>
{% endblock %}
